@tailwind base;
@tailwind components;
@tailwind utilities;

#bt_sidebar_right_arrow {
  visibility: hidden;
}

#bt_sidebar_parent:hover #bt_sidebar_right_arrow {
  visibility: visible;
}

@font-face {
  font-family: "Mulish";
  src: url(./fonts/Mulish-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

html, body {
  font-family: Mulish;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */


.full-height {
  height: calc(100vh - 55px)
}
.full-height-container {
  height: calc(100vh - 250px)
}

.overflow-hidden {
 overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
/* ::-webkit-scrollbar {
  display: none;
} */

/* hide bokeh logo */
.bk-logo {
  display: none !important;
}
.bk-root .noUi-origin {
  width: 100%;
}