.sideBarOpen .sideBar {
  opacity: 1;
  transform: translateX(0px);
  height: auto;
  overflow: visible;
}

.sideBar {
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.5s ease;
  height: 0;
  overflow: hidden;
}

.sideBarOpen.halfSideBar .sideBar {
  opacity: 1;
  transform: translateX(0px);
  height: 47.5vh;
  overflow: auto;
}
